!!!
%html
  %head
    %title Push Notify
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #main-wrapper
      = render 'shared/login_modal'
      #menu-section.navbar.navbar-inverse.navbar-fixed-top.scroll-me
        .container
          .navbar-header
            .container
              =render 'shared/brand'
              =render 'shared/logged_in'
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          .navbar-collapse.collapse
            .container
              =render 'shared/menu'
      .text-center
        %p.notice
          = notice
        %p.alert
          = alert
      .row
        .container-fluid{style: "margin-top:100px;text-align:center"}
          = yield
